@import url('https://fonts.googleapis.com/css?family=Asap:500|Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$logofont: 'Lobster', sans-serif;

@mixin fontOpSans($size,$color){
    font-family: 'Open Sans', sans-serif;
    font-size:$size;
    color:$color;
}